<div class="education">
    <h2 class="title">Education</h2>
    <section class="education-timeline">
      <div class="timeline-line"></div>
      
      <!-- UCSC Education Timeline Item -->
      <div class="timeline-item">
        <div class="timeline-date left-date">September 2024 - Present</div>
        <div class="timeline-content right-content">
          <h2>University of California, Santa Cruz</h2>
          <h3>Master of Science</h3>
          <h4>Computer Science and Engineering</h4>
          <p class="description">GPA: *</p>
        </div>
      </div>
    
      <!-- PSG Tech Education Timeline Item -->
      <div class="timeline-item">
        <div class="timeline-content left-content">
          <h2>PSG College of Technology</h2>
          <h3>Bachelor of Engineering</h3>
          <h4>Computer Science and Engineering</h4>
          <p class="description">GPA: 8.84</p>
        </div>
        <div class="timeline-date right-date">July 2019 - April 2023</div>
      </div>
    </section>
  </div>
  