<footer class="footer">
    <div class="footer-container">
        <div class="footer-section footer-nav-container">
            <div class="footer-widget">
                <a href="#about">
                    <i class="fas fa-user"></i>
                    <span>About</span>
                </a>
            </div>
            <div class="footer-widget">
                <a href="#experience">
                    <i class="fas fa-briefcase"></i>
                    <span>Experience</span>
                </a>
            </div>
            <div class="footer-widget">
                <a href="#education">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Education</span>
                </a>
            </div>
            <!-- <div class="footer-widget">
                <a href="#projects">
                    <i class="fas fa-project-diagram"></i>
                    <span>Projects</span>
                </a>
            </div> -->
            <div class="footer-widget">
                <a href="#expertise">
                    <i class="fas fa-cogs"></i>
                    <span>Expertise</span>
                </a>
            </div>
        </div>
        <div class="footer-section">
            <h3>Contact Info</h3>
            <div class="footer-socials">
                <a href="https://www.linkedin.com/in/johanna-smriti/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/johannasmriti" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/johanna.smriti/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="mailto:johannasmriti01@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Johanna Smriti. All rights reserved.</p>
    </div>
</footer>
