<section class="experience">
  <div class="experience-container">
    <h2>Experience</h2>
    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Feb 2023 - Aug 2024</div> 
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Fidelity Investments</h3>
          <h4>Software Engineer</h4>
          <p class="description">
            Played a key role in developing and modernizing UI applications with Angular, leveraging cloud technologies to enhance system efficiency. Worked with AWS Lambda and batch functions to implement scalable solutions and streamline processes. Contributed to the creation and optimization of Spring Boot applications, focusing on integrating with modern architectures and improving system performance. Engaged in automation and CI/CD practices to ensure efficient and reliable deployments, while collaborating closely with cross-functional teams in an agile environment.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Angular</div>
            <div class="skill-widget">Spring Boot</div>
            <div class="skill-widget">AWS Lambda</div>
            <div class="skill-widget">CI/CD</div>
            <div class="skill-widget">Automation</div>
            <div class="skill-widget">Batch Functions</div>
            <div class="skill-widget">Agile Methodologies</div>
            <div class="skill-widget">Microservices</div>
            <div class="skill-widget">Docker</div>
            <div class="skill-widget">Kubernetes</div>
            <div class="skill-widget">RESTful APIs</div>
            <div class="skill-widget">Unit Testing</div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Dec 2022 - Jan 2023</div> 
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>National University of Singapore</h3>
          <h4>Deep Learning Intern</h4>
          <p class="description">
            Developed a Convolutional Neural Network (CNN) model from scratch to detect continuous sign language, aimed at assisting individuals with hearing and speech challenges. This model was designed to accurately recognize and interpret sign language gestures in real-time. Successfully deployed the model as a Chrome extension, making it accessible and practical for end-users. The project involved extensive data collection, preprocessing, model training, and evaluation, showcasing my ability to apply advanced deep learning techniques to real-world problems.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Deep Learning</div>
            <div class="skill-widget">Convolutional Neural Networks (CNN)</div>
            <div class="skill-widget">TensorFlow</div>
            <div class="skill-widget">Keras</div>
            <div class="skill-widget">Data Preprocessing</div>
            <div class="skill-widget">Model Deployment</div>
            <div class="skill-widget">Chrome Extensions</div>
            <div class="skill-widget">Python</div>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jul 2021 - Dec 2021</div> 
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Samsung Research</h3>
          <h4>Research Intern</h4>
          <p class="description">
            Enhanced Quality of Experience (QoE) for a dynamic video streaming system by developing a real-time Reinforcement Learning (RL) model that optimizes adaptive bitrate in response to fluctuating bandwidth conditions. This led to seamless video streaming and significantly improved user satisfaction by dynamically adjusting the video quality based on network performance. The project involved extensive work on RL algorithms, real-time decision-making processes, and continuous model training to adapt to evolving network environments.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Reinforcement Learning</div>
            <div class="skill-widget">Adaptive Bitrate Streaming</div>
            <div class="skill-widget">QoE Optimization</div>
            <div class="skill-widget">Python</div>
            <div class="skill-widget">Machine Learning</div>
            <div class="skill-widget">Real-Time Systems</div>
            <div class="skill-widget">Model Deployment</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jun 2020 - Aug 2020</div> 
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Tech4Good</h3>
          <h4>Web Developer</h4>
          <p class="description">
            Developed and maintained several websites for non-governmental organizations (NGOs), focusing on creating user-friendly, responsive designs that effectively showcased their mission and services. Collaborated closely with NGO teams to understand their needs and build custom web solutions that improved their online presence and outreach. The work involved full-stack development, from designing the front-end using modern frameworks to deploying and maintaining websites, ensuring seamless functionality.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">HTML</div>
            <div class="skill-widget">CSS</div>
            <div class="skill-widget">JavaScript</div>
            <div class="skill-widget">WordPress</div>
            <div class="skill-widget">Responsive Web Design</div>
            <div class="skill-widget">UI/UX Design</div>
            <div class="skill-widget">Full-Stack Development</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
