<section class="experience">
  <div class="experience-container">
    <h2>Experience</h2>
    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jan 2020 - Dec 2021</div> <!-- From-To Date -->
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Fidelity Investments</h3>
          <h4>Software Engineer</h4>
          <p class="description">
            Lead the transition to cutting-edge cloud-based technologies as a key member of the modernization team. Implemented Kafka and AWS Lambda to optimize system efficiency, driving the evolution from mainframe architecture to cloud technologies.
          </p>
          <!-- Skill widgets -->
          <div class="skill-widgets">
            <div class="skill-widget">Java</div>
            <div class="skill-widget">Spring Boot</div>
            <div class="skill-widget">AWS</div>
            <div class="skill-widget">Kafka</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jan 2020 - Dec 2021</div> <!-- From-To Date -->
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>National University of Singapore</h3>
          <h4>Deep Learning Intern</h4>
          <p class="description">
            Lead the transition to cutting-edge cloud-based technologies as a key member of the modernization team. Implemented Kafka and AWS Lambda to optimize system efficiency, driving the evolution from mainframe architecture to cloud technologies.
          </p>
          <!-- Skill widgets -->
          <div class="skill-widgets">
            <div class="skill-widget">Java</div>
            <div class="skill-widget">Spring Boot</div>
            <div class="skill-widget">AWS</div>
            <div class="skill-widget">Kafka</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jan 2020 - Dec 2021</div> <!-- From-To Date -->
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Samsung R&D</h3>
          <h4>Research Intern</h4>
          <p class="description">
            Lead the transition to cutting-edge cloud-based technologies as a key member of the modernization team. Implemented Kafka and AWS Lambda to optimize system efficiency, driving the evolution from mainframe architecture to cloud technologies.
          </p>
          <!-- Skill widgets -->
          <div class="skill-widgets">
            <div class="skill-widget">Java</div>
            <div class="skill-widget">Spring Boot</div>
            <div class="skill-widget">AWS</div>
            <div class="skill-widget">Kafka</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jan 2020 - Dec 2021</div> <!-- From-To Date -->
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Tech4Good</h3>
          <h4>Web Developer</h4>
          <p class="description">
            Lead the transition to cutting-edge cloud-based technologies as a key member of the modernization team. Implemented Kafka and AWS Lambda to optimize system efficiency, driving the evolution from mainframe architecture to cloud technologies.
          </p>
          <!-- Skill widgets -->
          <div class="skill-widgets">
            <div class="skill-widget">Java</div>
            <div class="skill-widget">Spring Boot</div>
            <div class="skill-widget">AWS</div>
            <div class="skill-widget">Kafka</div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
