<div class="contact">
    <h2 class="title">Contact Me</h2>
    <div class="contact-items">
        <div class="contact-item">
            <a href="https://www.linkedin.com/in/johanna-smriti/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <span>linkedin.com/in/johannasmriti</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="https://github.com/johannasmriti" target="_blank">
                <i class="fab fa-github"></i>
                <span>github.com/johannasmriti</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="https://www.instagram.com/johanna.smriti/" target="_blank">
                <i class="fab fa-instagram"></i>
                <span>&#64;johanna.smriti</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="mailto:johannasmriti01@gmail.com">
                <i class="fas fa-envelope"></i>
                <span>johannasmriti01&#64;gmail.com</span>
            </a>
        </div>
    </div>
</div>

