<div class="about-me-container">
    <div class="about-me-content">
      <h2 class="section-title">Johanna Smriti</h2>
      <h3 class="section-subheading">Student &#64; University of California, Santa Cruz</h3>
      <p>
        Hello! I’m Johanna Smriti, a committed Master’s student in <span class="highlight">Computer Science</span> and <span class="highlight">Engineering</span> at the University of California, Santa Cruz. My journey is driven by a belief that hard work is the key to achieving excellence and making a real impact. With a robust foundation in <span class="highlight">software engineering</span>, <span class="highlight">machine learning</span>, and <span class="highlight">data science</span>, I take pride in transforming intricate challenges into sophisticated solutions. 
      </p>
      <p>My career has been a testament to relentless effort and perseverance—whether developing impactful machine learning models at IBM, Samsung, and the National University of Singapore, or creating state-of-the-art applications at Fidelity Investments. I thrive on pushing the boundaries of technology and am eager to bring this passion and dedication to new opportunities.
      </p>
      <!-- <p>
        I’m passionate about technology’s potential to drive positive change and constantly seek opportunities to push boundaries. Whether it’s migrating legacy systems to modern architectures or developing advanced predictive models, I tackle each project with enthusiasm and a commitment to excellence.
      </p> -->
      <p>
        As I advance my studies and deepen my expertise, I’m on the lookout for exciting job opportunities where I can make a meaningful impact and collaborate with forward-thinking teams. Let’s connect if you’re looking for a dedicated professional with a knack for <span class="highlight">innovation</span> and a drive to excel!
      </p>
    </div>
    <div class="about-me-image">
      <img src="/assets/johanna.jpg" alt="Your Picture" />
    </div>
  </div>
  