<div class="about-me-container">
  <div class="about-me-content">
    <h2 class="section-title">Johanna Smriti</h2>
    <h3 class="section-subheading">Student &#64; University of California, Santa Cruz</h3>
    <p>
      Hello! I’m Johanna Smriti, a dedicated Master’s student in <span class="highlight">Computer Science</span> and <span class="highlight">Engineering</span> at the University of California, Santa Cruz. My journey is fueled by a commitment to excellence and a belief in the transformative power of hard work. With a solid background in <span class="highlight">software engineering</span>, <span class="highlight">machine learning</span>, and <span class="highlight">data science</span>, I apply my knowledge to effectively address complex challenges and develop thoughtful solutions. My career highlights include developing cutting-edge machine learning models at IBM, Samsung, and the National University of Singapore, and creating innovative applications at Fidelity Investments.
    </p>
    <p>
      As I continue my studies and deepen my expertise, I’m seeking exciting job opportunities where I can contribute meaningfully and collaborate with forward-thinking teams. If you’re looking for a passionate professional with a knack for <span class="highlight">innovation</span> and a drive to excel, let’s connect!
    </p>
  </div>
  <div class="about-me-image">
    <img src="/assets/johanna.png" alt="Johanna Smriti" />
    <div class="download-resume-button">
      <a href="/assets/Johanna-Resume.pdf" class="btn btn-primary" download>Download Resume</a>
    </div>
  </div>
</div>
