body {
  margin: 0;
  padding: 0;
  height:100vh;
  font-family: 'Calibre', sans-serif;
  background-color: #2e2e2e; /* Blackish grey */
  color: #ffffff; /* White text */
}

.landing-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.blob {
  position: absolute;
  width: 350px; /* Increase size for better visibility */
  height: 350px;
  background: radial-gradient(circle at 50% 50%, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8));
  border-radius: 50%;
  filter: blur(150px); /* Smooth out the blur for a more fluid appearance */
  pointer-events: none;
  transition: transform 0.1s ease, background 0.1s ease;
  opacity: 0.6; /* Increase transparency for a subtle effect */
  mix-blend-mode: screen; /* Use screen blend mode for a lighter effect */
}

.floating-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  background: #222326; 
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  padding:2% 2% 2% 2%;
  margin-top:2%;
  width: auto; 
}

.floating-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.floating-nav li {
  margin: 0 15px; 
}

.floating-nav a {
  color: #ffffff; 
  text-decoration: none;
  font-family: 'Calibre', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.floating-nav a:hover {
  color: #d382f3; 
}

.floating-nav a.active {
  color: #FF6EC7; 
  font-weight: bold;
}