/* You can add global styles to this file, and also import other style files */
body {
    background-color: #222326; 
    color: #FC2D7D; 
    font-family: 'Calibre', sans-serif;
}
  
@font-face {
    font-family: 'Calibre';
    src: url('/assets/fonts/Calibre-Regular.woff2') format('woff2'),
         url('/assets/fonts/Calibre-Regular.woff') format('woff'),
         url('/assets/fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Calibre';
    src: url('/assets/fonts/Calibre-Medium.woff2') format('woff2'),
         url('/assets/fonts/Calibre-Medium.woff') format('woff'),
         url('/assets/fonts/Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Calibre';
    src: url('/assets/fonts/Calibre-Semibold.woff2') format('woff2'),
         url('/assets/fonts/Calibre-Semibold.woff') format('woff'),
         url('/assets/fonts/Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  /* Define the .font-sans class */
  .font-sans {
      font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-feature-settings: "ss03", "cv02", "cv11";
  }
  